grechkatoday:
    build: .
    ports:
        - 10.2.0.1:80:80
    volumes:
        - .:/var/www
    links:
        - mysql:grechkatoday_mysql

data:
    image: cogniteev/echo
    volumes:
        - /var/lib/mysql

mysql:
    image: mysql
    ports:
        - 10.2.0.2:3306:3306
    environment:
        MYSQL_USER: change_me
        MYSQL_PASS: change_me
        REPLICATION_MASTER: true
    volumes_from:
        - data
