@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic,cyrillic-ext,latin);

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    vertical-align: baseline;
    background-color: transparent;
    font-family: 'Open Sans Condensed', sans-serif;
}

.k-layout {
    background: transparent url('../images/background.jpg') no-repeat;
    width: 100%;
    background-size: cover;
    position: absolute;
}

.k-currency {
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 5px 25px rgba(250, 250, 250, 0.6);
    padding: 0;
    width: 520px;
    margin: 0 auto;
}

.k-currency-amount {
    font-size: 150px;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    position: relative;
}

.k-currency-date {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0 solid #000000;
    display: inline-block;
    width: 200px;
    font-size: 35px;
    margin: 0 20px;
    padding: 0;
}

.k-currency-any {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0 solid #000000;
    display: inline-block;
    width: 200px;
    font-size: 35px;
    margin: 0 20px;
    padding: 0;
}

.yashare-auto-init {
    margin-top: 5px;
}

.k-contact {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

a.k-contact-link {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 19px;
    text-shadow: 0 5px 25px rgba(250, 250, 250, 0.6);
}

a.k-contact-link:hover {
    text-decoration: none;
}

.k-social {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
}

.k-offer {
    opacity: 0.8;
}

.k-price_star {
    cursor: pointer;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    font-size: 100px;
    /*float: right;*/
}

.k-price_info {
    display: none;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 230px;
    text-shadow: none;
    letter-spacing: 1px;
    position: absolute;
    padding: 3px;
}
